 /*
        *           GERAL
        */

        body{
            margin: 0px;
            padding: 0px;
            background: rgb(111,91,98);
        }

        section.body{
            background: rgb(111,91,98);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            font-family: 'Aclonica', sans-serif;
            color: white;
            height: 95vh;
        }

        div.letra{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center; 
            align-content: center;
            border-radius: 8px;
            border-top-right-radius: 0px;
            background: rgb(97, 84, 88);
        }



        /*
        *           CABEÇALHO
        */

        section.titulo{
            font-size: clamp(8px, 2.3em, 32px);
            user-select: none;
        }

        section.titulo div:hover{
            animation: palavras 0.5s ease-out;
        }


        /*
        *           PRINCIPAL
        */

        section.palavra{
            user-select: none;
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            width: 340px;
            height: 68px;
        }

        section.palavra.nao_existe{
            animation: palavra_nao_existe 0.4s linear;
        }

        div.palavra_letra{
            font-weight: bold;
            font-size: clamp(10px, 1.9em, 32px);
            cursor: pointer;
            width: 65px;
            height: 65px;
        }

        section.palavra_corrente div.palavra_letra{
            border: 4px solid rgb(76, 67, 71);
            background: transparent;
            width: 57px;
            height: 57px;
        }

        div.palavra_letra.selecionada{
            animation: muda_tamanho 0.2s linear;
            box-shadow: inset 0px -8px 0px rgb(76, 67, 71);
            text-shadow: 2px solid black;
        }

        div.errada{
            animation: giro360 0.7s linear;
            background: rgb(49, 42, 44);
        }

        div.desordenada{
            animation: giro360 0.7s linear;
            background: rgb(211, 173, 105);
        }

        div.correta{
            animation: giro360 0.7s linear;
            background: rgb(58, 163, 148);
        }

        /*
        *           TECLADO
        */

        section.teclado_linha{
            user-select: none;
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            min-width: 40vw;
            height: 9vh;
        }

        div.teclado_letra{
            font-size: clamp(9px, 1.5em, 25px);
            background: rgb(76, 67, 71);
            width: 9.5%;
            height: 96%;
            cursor: pointer;
        }

        div.teclado_letra.enter{
            width: 28.5%;
        }

        div.teclado_letra.errada{
            animation: none;
            background: rgba(49, 42, 44, 0.151);
            color: rgba(255,255,255,0.2);
        }

        div.teclado_letra.desordenada{
            animation: giro360Y 0.7s linear;
            background: linear-gradient(to bottom,rgb(211, 173, 105) 92%, rgb(255, 235, 200) 100%);
            color: white;
        }

        div.teclado_letra.correta{
            animation: giro360 0.7s linear;
            background: linear-gradient(to bottom,rgb(58, 163, 148) 85%, rgb(0, 255, 217) 100%);
            color: white;
        }

        /*
        *           ANIMAÇÔES
        */

        .good_end{
            animation: dance 1s infinite linear;
        }

        .bad_end{
            animation: triste 2.5s infinite linear;
        }

        @keyframes palavra_nao_existe{
            0%{ transform: translateX(0px); }
            18%{ transform: translateX(10px); }
            34%{ transform: translateX(0px); }
            50%{ transform: translateX(-10px); }
            66%{ transform: translateX(0px); }
            82%{ transform: translateX(10px); }
            100%{ transform: translateX(0px); }
        }

        @keyframes palavras{
            0%{ transform: skewX(0deg); }
            25%{ transform: skewX(-60deg); }
            50%{ transform: skewX(0deg); }
            75%{ transform: skewX(60deg); }
            100%{ transform: skewX(0deg); }
        }

        @keyframes giro360{
            0%{ transform: rotate3d(1,0,0,0deg); }
            100%{ transform: rotate3d(1,0,0,360deg); }
        }

        @keyframes giro360Y{
            0%{ transform: rotate3d(0,1,0,0deg); }
            100%{ transform: rotate3d(0,1,0,360deg); }
        }

        /* @keyframes giro360espacado{
            0%{ transform: rotate3d(0,0,1,0deg) translateX(0px); }
            30%{ transform: rotate3d(0,1,1,-5deg) translateX(4px) translateY(4px); }
            50%{ transform: rotate3d(0,1,1,0deg) translateX(0px); }
            70%{ transform: rotate3d(0,1,1,+5deg) translateX(-4px) translateY(4px); }
            100%{ transform: rotate3d(0,0,1,0deg) translateX(0px);}
        } */

        @keyframes giro360espacado{
            0%{ transform: rotateZ(2deg) translateX(3px);  }
            25%{ transform: rotateZ(-2deg) translateX(-3px);}
            50%{ transform: rotateZ(2deg) translateX(3px); }
            75%{ transform: rotateZ(-2deg) translateX(-3px); }
            100%{ transform: rotateZ(2deg) translateX(3px); }
        }

        @keyframes muda_tamanho{
            0%{ scale: 1.0; }
            35%{ scale: 1.1; }
            65%{ scale: 1.1; }
            100%{ scale: 1.0; }
        }

        @keyframes dance{
            0%{ transform: skewX(0deg) translateX(0px) translateY(0px); }
            25%{ transform: skewX(-30deg) translateX(11px) translateY(2px);  }
            50%{ transform: skewX(0deg) translateX(0px) translateY(-2px); }
            75%{ transform: skewX(30deg) translateX(-11px) translateY(2px); }
            100%{ transform: skewX(0deg) translateX(0px) translateY(0px); }
        }

        @keyframes triste{
            0%{ transform: translateX(0px) rotate3d(0,0,0,0deg);}
            25%{ transform: translateX(0px) ; }
            40%{ transform: translateX(8px) rotate3d(1,0,0,180deg);}
            45%{ transform: translateX(0px) rotate3d(1,0,0,180deg);}
            50%{ transform: translateX(-8px) rotate3d(1,0,0,180deg);}
            55%{ transform: translateX(0px) rotate3d(1,0,0,180deg); }
            60%{ transform: translateX(8px) rotate3d(1,0,0,180deg);}
            75%{ transform: translateX(0px); }
            100%{ transform: translateX(0px) rotate3d(0,0,0,0deg);}
        }

        /*
        *           RESPONSIVIDADE
        */

        @media screen and (max-width: 768px) {
            section.teclado_linha{
                width: 95vw;
            }
            section.palavra{
                max-width: 90vw;
                max-height: 9vh;
            }
            div.palavra_letra{
                width: 19%;
                height: 95%;
            }
            section.palavra_corrente div.palavra_letra{
                border: 3px solid rgb(76, 67, 71);
                width: 17%;
                height: 90%;
            }
        }